.navbar {
    display: flex;
    border: 5px solid black;
    width: 100vh;
    height: 50px;
    align-items: center;
    margin: auto;
    justify-content:right;
}

.item {
    border: none;
    margin: 10px;
    background-color:beige;
    height: 40px;
    width: 110px;
    cursor: pointer;
    font-family: "Lucida Sans", serif, sans-serif;
}

.item:hover {
    background-color: darkslategray;
    color: beige;
}

.logo {
    width: 50%;
    justify-self: left;
    font-size: 60px;
    color: black;
}

.container {
    display: flex;
    border: 5px solid black;
    border-top: none;
    border-bottom: none;
    height: 50;
    width: 100vh;
    margin: auto;
}


img {
    border-radius: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.skills {
    display: flex;
    width: 100vh;
    text-align: center;
    margin: auto;
    border: 5px solid black;
    border-top: none;
    border-bottom: none;
    font-family: "Lucida Sans", serif, sans-serif;
    font-size: 20px;
    flex-direction: column;
}

.container2 {
    display: flex;
    width: 100vh;
    margin: auto;
    border: 5px solid black;
    border-top: none;
    height: 50vh;
}
